<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.team3.mapper.orderMapper">

	<!-- 주문 회원정보 추가 -->
	<insert id = "insertorder">
	insert into orders
	(od_num , mb_id , od_address , od_address1 , 
	od_mobile , od_name , od_total , pd_idx ,od_msg , od_delivery)
		values
		(#{od_num},#{mb_id},#{od_address},#{od_address1},#{od_mobile},
		#{od_name},#{od_total}, #{pd_idx},#{od_msg} , '배송준비중')
	</insert>
	
	<!-- 주문 상품정보 추가 -->
	<insert id = "od_pd_insert">
	insert into orders_pd 
(mb_id , pd_idx, pd_name, pd_img, price ,amount, pd_category , od_num)
	select 
mb_id , pd_idx , pd_name, pd_img, price , amount , pd_category , #{od_num}
	from preorder
where pd_idx = #{pd_idx} and mb_id = #{mb_id}
	</insert>
	
	<!-- 주문상품 총 합계 금액 -->
	<select id="selectpay" resultType="String">
	select sum(price * amount) summoney
	from orders_pd
	where od_num = #{od_num}
	</select>
	
	<!-- 주문목록 조회 -->
	<select id="selectorder" resultType="com.team3.order.vo.ordersVO">
	select distinct 
		od_num, mb_id ,od_address,
		od_address1,od_mobile,od_name,od_msg,od_total,date_format(od_date, '%Y-%m-%d %H:%i') as od_date , od_delivery
	from orders
	where mb_id =#{mb_id}
	order by od_date desc;
	</select>

	<!-- 해당주문 상세정보 조회 -->
	<select id="selectorderdetail" resultType="com.team3.order.vo.ordersVO">
	select
		o.mb_id , o.od_address, o.od_address1, o.od_mobile , o.od_total , 
		o.od_delivery, od.pd_category,
		od.price , od.amount , (od.price * od.amount) summoney,
		od.pd_name, od.pd_img, od.pd_idx, o.od_idx , o.od_num
	from
 		orders o , orders_pd od
	where 
		od.pd_idx = o.pd_idx and o.mb_id =#{mb_id} and o.od_num = #{od_num} 
			and o.od_num = od.od_num
	</select>
	
	<!-- 주문 정보 취소 -->
	<delete id="delete_order">
	delete from orders 
	where od_num = #{od_num}
	</delete>
	
	<!-- 주문 상품정보 취소 -->
	<delete id="delete_order_pd">
	delete from orders_pd 
	where od_num = #{od_num}
	</delete>

	<!-- 주문완료된 상품 장바구니목록 삭제 -->
	<delete id="orderdeletecart">
		delete from cart 
		where mb_id =#{mb_id} and pd_idx =#{pd_idx}
	</delete>
	
	<!-- 배송정보 변경 -->
	<update id="update_delivery">
   		update orders  
   			set od_delivery = #{od_delivery}
   		where od_num = #{od_num}
   	</update>

	<!-- 주문완료된 상품 재고수량 차감 -->
	<update id="updateSub_pd_amount">
update product
set 
	pd_stock =  pd_stock - (select amount from orders_pd where pd_idx = #{pd_idx} and 
	                        od_num = #{od_num})
where 
	pd_idx = #{pd_idx}
	</update>
	
	<!-- 주문취소된 상품 재고수량 추가 -->
	<update id="updateAdd_pd_amount">
	update product
set 
	pd_stock = pd_stock + (select amount from orders_pd where od_num = #{od_num} and 
	                       pd_idx = #{pd_idx})
where 
	pd_idx = #{pd_idx}
	</update>

	<!-- 주문결제 페이지 맵핑 -->
	
	<!-- 임시결제 정보 추가 -->
		<insert id = "insertpre">
	insert into preorder 
(mb_id , cart_idx , pd_idx, pd_category, pd_name, pd_img, price ,amount, summoney)
	select 
mb_id , cart_idx, pd_idx , pd_category, pd_name, pd_img , price , amount, (price * amount) as summoney
	from cart
where cart_idx = #{cart_idx} and mb_id = #{mb_id}
	</insert>

	<!-- 임시결제 정보 조회 -->
	<!-- join하라고!!!!!!!! 오류난다고!!!!!!!! -->
	<select id="selectPre" resultType="com.team3.order.vo.preordersVO">
	select pre_id , p.mb_id , p.pd_idx , p.pd_category, p.pd_name , p.pd_img ,p.amount,
	 p.summoney , m.mb_id , m.mb_name
	from preorder p, member m
	where m.mb_id = p.mb_id and p.mb_id = #{mb_id} order by pre_id

	</select>
	 
	<!-- 임시 결제내역 확인 조회 -->
	<select id="countpre" resultType="int">
		select count(*) 
		from preorder
		where
			mb_id = #{mb_id}
	</select>
	
	<!-- 결제할 총합계금 -->
	<select id="preSumMoney" resultType="int">
		select ifnull(sum(p.price *p.amount) , 0)
		from preorder p
		where p.mb_id=#{mb_id}
	</select>
		
	<!-- 임시 결제정보 삭제 -->
	<delete id="deletepre">
		delete 
		from preorder 
		where mb_id = #{mb_id}
	</delete>

</mapper>

